body{
  background-color:black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  color: black;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border: 3px solid #00bfff;
}
 .btn:hover {
   box-shadow: 0 0 10px 3px #00bfff80; /* watery glow */
   border-color: #00bfff;
   background-color: #e6faff; /* light watery background */
 } 
  .main{
  border: 1px solid whitesmoke;
  height: 500px;
  width: 400px;
  text-align: center;
  color: white;
  border-radius: 10%;
  display: none;
 }
 .contains{
  background-color: transparent;
    margin-left: 50px;
    padding-top: 20px;
 }
 input{
  display: block;
border-radius: 19px;
border: 2px solid #00bfff;
padding: 16px 20px;
font-size: 24px;
height: 20px;
width: 200px;
 }
 input:focus {
    outline: none;
    border: 6px solid #00bfff;
    box-shadow: 0 0 8px #00bfff60;
  }

 #bts{
  border-radius: 7px;
border: 2px solid #00bfff;
margin-right: 300px;
height: 30px;
width: 90px;
font-size: 18px;
border-radius: 16px;
 }
 #bts:hover{
   border-color: #00bfff;
   background-color: #e6faff;
   box-shadow: 0 0 10px 0.5px #00bfff80;
   cursor: pointer;
 }
h1{
  padding-top: 30px;
  padding-left: 20px;
  text-decoration: 1px underline whitesmoke;
  font-size: 30px;
  font-family:'Dancing Script', cursive;
}

.show {
  background-color: black;
  color: white;
  padding: 10px;
  font-family:'Dancing Script', cursive ;
  font-size: 70px;
}

